/* Font family aded */
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
}
/*Contact button and hire */
.button {
  margin-top: 40px;
}

/* SRVICES STYLES */

.i-color {
  color: chartreuse;
}
.ss-color {
  color: whitesmoke;
}

/* anchor tages style */
a.nav-link {
  color: whitesmoke;
}

a.nav-link:hover {
  color: black;
  background-color: #edb27f;
}

a.nav-link.active {
  color: black;
  background-color: #ec8225;
  font-weight: bold;
}
a {
  text-decoration: none;
  cursor: pointer;
}
