<!-- inherit the base template -->
{% extends "core/base.html" %} {% load static %}

<!-- Block content from base -->
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

  <!-- Row-1 -->

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <i
        class="fa-solid fa-magnifying-glass-dollar fa-2xl mb-3"
        style="color: chartreuse"
      ></i>
      <h2>SEO</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-palette fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>Web design</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-code fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>Web development</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
  </div>

  <!-- Row-2 -->

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <i class="fa-brands fa-android fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>Android</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-brands fa-apple fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>iOS</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
    <div class="col-sm-4">
      <i
        class="fa-solid fa-rectangle-ad fa-2xl mb-3"
        style="color: chartreuse"
      ></i>
      <h2>Advertising</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
  </div>

  <!-- Row-3 -->

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4">
      <i class="fa-solid fa-pen fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>Logo Design</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-database fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>Hosting</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
    <div class="col-sm-4">
      <i class="fa-solid fa-headset fa-2xl mb-3" style="color: chartreuse"></i>
      <h2>Support</h2>
      <p style="color: whitesmoke">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit porro quas
        suscipit nihi
      </p>
    </div>
  </div>
</div>
{% endblock content %}
